/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: sans-serif !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*============================================
Dashboard Css
============================================*/
.container {
  width: 60%;
  margin: 0 auto;
}
.no-post-msg {
  font-size: 21px;
  text-align: center;
  color: #ff6b00;
  font-weight: 600;
  margin-top: 72px;
  p {
    font-size: 17px;
    margin-top: 12px;
  }
}
.loading {
  text-align: center;
  margin-top: 72px;
  font-size: 25px;
  color: #33c3f0;
}
.post-list {
  padding: 48px 24px;
  background: #5a4e4e0f;
  height: calc(100vh - 170px);
}

/*===========================================
Post Card Styles
=============================================*/

.post-card {
  display: block;
  padding: 20px;
  margin-bottom: 24px;
  background: #fff;
  cursor: pointer;

  .title {
    font-size: 21px;
    font-weight: 600;
    color: #424242;
    font-family: sans-serif !important;
    margin: 16px 0px;
  }

  .desc {
    font-size: 15px;
    font-weight: 500;
    color: #999;
  }

  .tag {
    padding: 4px 8px;
    border: 1px solid #de903e70;
    border-radius: 35px;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #ff8a10;
    margin-right: 4px;
  }

  .post-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }

  .fav-count {
    font-size: 12px;
    align-self: center;
    color: #bbb;
    .fas {
      margin-right: 4px;
      font-size: 18px;
      color: #ff0000bd;
    }
  }

}
.post-card:hover {
  box-shadow: 3px 5px 8px 0.5px #9e9c9c4a;
}
.post-card-header {
  display: flex;
  align-items: center;
}
.author-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.author-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0px 16px;
}
.date {
  color: #bbb;
  font-size: 12px;
}
